@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset agar ul tidak vertikal */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Body full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Scrollbar halus */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 8px;
}
